<!DOCTYPE html>
<html>
	<head>
	</head>

<body>

    <div class="center jumbotron" id="mage">
  <h1 class="display-4">Welcome ! :)</h1>
  <p class="lead"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget lacinia odio, sit amet porta nunc. Nunc at gravida nisl, ut consequat elit. Fusce congue felis id venenatis lobortis. Nam nec commodo ante, sed laoreet lacus. Praesent at turpis sit amet nisl efficitur porttitor. Cras tristique tristique arcu eu tempor. Sed mollis tempor sem, et ultricies libero sollicitudin non. Donec suscipit est ac ex suscipit ultricies sit amet vitae neque. Phasellus eros libero, efficitur ac interdum suscipit, efficitur nec nunc. Praesent vel lacus pretium dui varius rutrum vel vitae elit. In magna lectus, consectetur at tempor et, tincidunt eu diam. Suspendisse potenti. Etiam porttitor rhoncus est, vitae vehicula felis scelerisque ac. Aliquam ac auctor lacus, quis posuere eros. Nam fermentum porttitor enim, sed sollicitudin felis tempor </p>
  <hr class="my-4">
  <p>Vivamus porta tellus dolor, ut pharetra dolor mollis quis. Mauris lobortis ligula ac tincidunt ornare. Morbi a odio hendrerit, sodales magna sit amet, pharetra lectus. Vivamus id commodo neque. Nulla eleifend nibh sit amet varius mollis. Sed semper a tellus quis porta. Maecenas turpis magna, pretium sed magna in, feugiat posuere odio</p>
  <a class="btn btn-dark btn-lg" href="#" role="button">Learn more</a>


</body>

<footer>
  <%= link_to'About', about_path %>|
  <%= link_to'Index', articles_path%>
 
</footer>


</html>
