<!DOCTYPE html>
<html>
	<head>
	<%= stylesheet_link_tag "myStyle.css" %>
	</head>

<body>
	<div>
<h>H O M E :-)</h>
<p>Lorem ipsum </p>
<%= image_tag'ruby1.png'%>
	</div>

<%= link_to'About', about_path %>

</body>

<footer>
</footer>


</html>
