body
{
 background-color:#000000;
 font-family:'Open Sans', sans-serif;
 color: #ffffff;
}
.navbar{
  background-color:#5e0808;
  color:navy;
  text-align: justify;
}
#logo
{
  float: left;
  font-size: 1.7em;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover
{
  color: #fff;
  text-decoration: none;
  
}
#test_erb{
text-decoration:none;
color:white;
}
#text_erb:hover
{
  color:navy;
}
.container
{
 width:100%;
 height:550px;
 margin:0;
}
.center
{
  text-align:center;
  color: black;
}
.RbLink
{
  text-decoration: none;
  color:grey;
}
.RbLink:hover
{
  text-decoration:none;
}
.jumbotron
{
background-image:url('../../assets/images/Ruby1.jpg');
background-size: cover;
background-color:grey;
margin-bottom:0px;
background-position: center;

}
.jumbotron p
{
  color: white;
}
.jumbotron h1
{
  color:#ffffff;
  font-weight:bold;
}
.footer
{
  position: relative;
  left:0px;
  bottom:0px;
  margin-bottom:0px;
  width:100%;
  
  background-color: #5e0808;
  margin-top:0px;
  border-top: 1px solid #efefef;
  height:2.5rem;
  color:white;
}

footer a:hover {

color: #ffff00;

}

footer small {

float: left;

}

footer ul {

float: right;

list-style: none;

}

footer ul li
{

float: left;

margin-left: 15px;

}
.list-group-item
{
color:black;
}
.article-action
{
padding:5px;
color:#000000;
text-align:center;

}
.description
{
margin-top:0px;
}

.article-info
{
  margin-top: 1px solid white;
  padding: 10px;
}
.listing
{
  list-style:none;
  padding-left:0px;
}
