h1
{
  color:navy;
}
.navbar{
  background-color:#5e0808;
  color:navy;
  text-align: justify;
}

#logo
{
  float: left;
  font-size: 1.7em;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover
{
  color: #fff;
  text-decoration: none;
  
}
#test_erb{
text-decoration:none;
color:white;
}
#text_erb:hover
{
  color:navy;
}
.container
{
  width:1000px;
}
.center
{
  text-align: center;
}
.RbLink
{
  text-decoration: none;
  color:grey;
}
.RbLink:hover
{
  text-decoration:none;
}
